<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Detail</title>
</head>
<body>
    <table style="border: 1px;">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ obj.FirstName }}</td>
                <td>{{ obj.LastName }}</td>
                <td>{{ obj.DOB }}</td>
                <td>{{ obj.Email }}</td>
                <td>{{ obj.Address }}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>